.VideoTitle {
  width: 195px;
  height: 28px;
  overflow-y: hidden;
  position: relative;
  white-space: normal;
  font-family: Omnes;
  color: #707070;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  letter-spacing: .7px;
}
