.VideoPanel {
  float: left;
  height: 200px;
  margin-right: 11px;
  margin-left: 11px;
  margin-top: 5px;
  cursor:pointer;
}

.channel {
  float: left;
  margin-top: 3px;
  font-family: Omnes;
  font-size: 13px;
  letter-spacing: .5px;
}

/* .VideoPanel:hover{
  background-color: #C2D0DC;
} */
